:root {
  --main-color: #ff8522;
  --bg-color: #ffe4ce;
  --main-text: #ff7809;
}

footer {
  display: flex;
  justify-content: center;
  background-color: var(--main-color);
  color: #fff;
  padding: 10px;
  text-align: center;
}

#title {
  color: var(--main-text);
  text-align: center;
  font-weight: bold;
  margin: 100px;
  padding: 20px;
  font-style: italic;
  background-color: #fff;
  box-shadow: 10px 10px 1px var(--main-color);
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

header {
  background-color: var(--main-color); /* Cor de fundo amarela */
  color: #fff;
  padding: 20px;
  height: auto;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.navbar {
  background-color: var(--main-color);
  color: #fff;
  padding: 10px;
  text-align: center;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.nav-link:hover {
  color: #ccc;
}

section {
  width: 80%;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

section h2 {
  color: var(--main-text);
  font-size: 24px;
  margin-bottom: 40px;
  padding: 20px;
  font-style: italic;
  background-color: #fff;
  box-shadow: 5px 5px 1px var(--main-color);
}
section p {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

#destaque {
  text-align: center;
}

@media (max-width: 768px) {
  #title {
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }

  header {
    padding: 10px;
  }

  main {
    padding: 10px;
  }

  section {
    padding: 10px;
  }

  section h2 {
    padding: 15px;
    font-size: 18px;
  }

  section p {
    font-size: 14px;
  }
}
