footer {
    margin-top: 200px;
}
.container-social {
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-social h1 {
    text-align: center;
}

.contact-info {
    margin-top: 30px;
    text-align: center;
}
.contact-info p {
    font-size: 1.2em;
    color: #555;
    margin: 10px 0;
}
.contact-info a {
    font-size: 1.1em;
    color: #3f729b;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    transition: color 0.3s;
}
.contact-info a:hover {
    color: #e1306c;
}
.instagram-icon {
    margin-right: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
    h1 {
        font-size: 1.8em;
    }
    .contact-info p {
        font-size: 1em;
    }
    .contact-info a {
        font-size: 1em;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.6em;
    }
    .contact-info p {
        font-size: 0.9em;
    }
    .contact-info a {
        font-size: 0.9em;
    }
}